[submodule "engine"]
	path = engine
	url = git@kanthorlabs.github.com:kanthorlabs/kanthord-engine.git
[submodule "apps"]
	path = apps
	url = git@kanthorlabs.github.com:kanthorlabs/kanthord-apps.git
[submodule "webhook"]
	path = platforms/webhook
	url = git@kanthorlabs.github.com:kanthorlabs/webhook.git
[submodule "homelab"]
	path = platforms/homelab
	url = git@kanthorlabs.github.com:kanthorlabs/homelab.git
